extends layout

block content
    .jumbotron
        .container.text-center
            h2 Not found
            h3 Looks like this page does not exist.
            h4 Go back to 
                a(href='/') home 
                | ?