extends layout

block content
  .jumbotron
      .container.text-center
        h1 Welcome to Poll Maker
        p
          | &#x272C; vote and create polls! &#x272C;
          
  .container
    .row
      each item in data
        .col-sm-4
          .panel.panel-info
            .panel-heading.text-center
              a.panel-title(href='/polls/'+item.pId)=item.pName
            .panel-body
              dl.dl-horizontal
                dt Created by : 
                dd=item.createdBy
                dt Created at : 
                dd=item.createdAt