doctype html
//if lt IE 7
  html.no-js.lt-ie9.lt-ie8.lt-ie7(lang='')  
//if IE 7
  html.no-js.lt-ie9.lt-ie8(lang='')  
//if IE 8
  html.no-js.lt-ie9(lang='')  
// [if gt IE 8] <!
html.no-js(lang='')
  // <![endif]
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    title
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='apple-touch-icon', href='apple-touch-icon.png')
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    style.
      body {
      padding-top: 50px;
      padding-bottom: 20px;
      }
    link(rel='stylesheet', href='/css/bootstrap-theme.min.css')
    link(rel='stylesheet', href='/css/main.css')
    script(src='/js/vendor/modernizr-2.8.3-respond-1.4.2.min.js')
    script(src="https://code.jquery.com/jquery-3.1.1.min.js")
    
  body
    //if lt IE 8
      p.browserupgrade
        | You are using an 
        strong outdated
        |  browser. Please 
        a(href='http://browsehappy.com/') upgrade your browser
        |  to improve your experience.
    nav.navbar.navbar-inverse.navbar-fixed-top(role='navigation')
      .container
        .navbar-header
          button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar', aria-expanded='false', aria-controls='navbar')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          |  
          a.navbar-brand(href='/') Poll Maker
        #navbar.navbar-collapse.collapse
          form#navForm.navbar-form.navbar-right(role='form' method="get")
            if userName !== '' && userName !== undefined
              .dropdown
                button#userName.btn.btn-success.dropdown-toggle(data-toggle='dropdown') #{userName}
                  nbsp 
                  span.caret
                ul.dropdown-menu.push-right
                  li
                    a#myPolls.dropdown-item(href='/myPolls') My Polls
                    a#createPoll.dropdown-item(href='/createPoll') Create Poll
                    a#twitterLogout.dropdown-item(href='/logout') Logout
            else 
              button#twitterLogin.btn.btn-info() Login with Twitter

    block content

    footer
      .container
        pre Made by 
          a(href="http://www.kartikgola.com" target="_blank") Kartik Gola
          br
          | View project 
          a(href="#") Github
    script(src='/js/vendor/bootstrap.min.js')
    script(src='/js/main.js')
    

