html
    script.
        //- (function setCookie(cname, cvalue, exms) {
        //-     var d = new Date();
        //-     d.setTime(d.getTime() + (exms*1000));
        //-     var expires = "expires="+ d.toUTCString();
        //-     document.cookie = cname + "=" + cvalue + ";" + expires + ";path=/";
        //- })('reload', true, 2);
        
        window.opener.oAuthTwitterCb({ userName : '!{userName}', userId : '!{userId}'});
        window.close();