

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.jumbotron {
    background: ghostwhite
}

hr {
  color :darkgrey;
    background-color: darkgrey;
    height: 1px;
}











